extends ../layouts/app

block content
    div.d-flex.justify-content-between
        h1(class=["animation", "a1"]) List of User Staff
        a(href="/user/create", class=["btn", "btn-info", "float-right", "my-auto"]) Add User Record
    table(class=["table", "table-striped"], id="list")
        thead
            tr
                th Name
                th Gender
                th Email
                th Address
                th Course Code
                th Phone Numbers
                th Actions
        tbody
            if list.length >0
                each user in list
                    tr
                        td=user.name
                        td=user.gender
                        td=user.email
                        td=user.address.street_address+', ' + user.address.city + ', ' + user.address.country
                        td=user.course_code
                        td
                            ul
                                each phone in user.phone_numbers
                                    li #{phone}
                        td.mx-auto
                            a(href="/user/" + user._id + "/edit", class="btn btn-warning ") Edit
                            a(href="/user/delete/" + user._id, class="btn btn-danger delete") Delete
            else
                tr
                    td(colspan=7, class=["text-center"]) No Record Found
block scripts
    script.
        $(document).ready(function () {
            $(".delete").click(function (e) {
                event.preventDefault();
                if(confirm("Are you sure you want to Delete the Record")){
                    window.location.replace(e.currentTarget.href);
                }
            })
        });


